<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.uees2.myapplication">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.onesignal.NotificationAccentColor.DEFAULT"
        android:value="ff0000" />
    <meta-data
        android:name="com.onesignal.NotificationOpened.DEFAULT"
        android:value="DISABLE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/accident"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity" />
        <activity android:name=".Registro" />
        <activity android:name=".Pacientes" />
        <activity android:name=".Caidas" />
        <activity android:name=".Enlazador" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Informacion" />
        <activity android:name=".WifiActivity" />

        <service
            android:name=".NotificationExtenderBareBones"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <activity android:name=".EditarPaciente" />
        <activity android:name=".EdicionPaciente" />
        <activity android:name=".Dashboard" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".CaidasHistoricoActivity" />
        <activity android:name=".CaidasGraficoActivity" />
        <activity android:name=".ReportePacientesActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".ListarUsuariosActivity" />
        <activity android:name=".Familiar" />
        <activity android:name=".InicioFamiliar"></activity>
    </application>

</manifest>